@import '_variables';

body {
   background-color: pink;
   color: $base-font-color;
}

nav {
   ul {
      li{
         &.first {
            a {color: aqua}
         }
      }
      list-style: none;
      display: inline-block;
      
      a {
         color: $nav-links-color;
         &:hover{color:whitesmoke;}
      }
   }
}