body {
  background-color: pink;
  color: #777; }

nav ul {
  list-style: none;
  display: inline-block; }
  nav ul li.first a {
    color: aqua; }
  nav ul a {
    color: red; }
    nav ul a:hover {
      color: whitesmoke; }
